body{
  background: url(http://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-11.gif?w=640&h=384) center center no-repeat;
  background-size: cover;
  max-height: 750;
}


.stage{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.display-bar{
  display:flex;
  justify-content: space-between;
}

.display-stats {
  background-color: gray;
  opacity: 0.8;
  padding: 0px 40px;
  border: solid 1px black;
}

.display-stats>h4 {
  color:white;
}

.player{
  display: flex;
}

.player-health{ 
  background-color: yellow;
  width: 45%;
  height: 20px;
  border: solid 2px white;
	position: relative;
	background: darkred;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.7);
}

.player-health > span {
  display: block;
  height: 100%;
  background-color:yellow;
  box-shadow: 
    inset 0 2px 9px rgba(255,255,255,0.9),
    inset 0 -2px 6px rgba(0,0,0,0.2);
  position: relative;
  overflow: hidden;
}

.inverse {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

img.invert {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

h1{
  color: #fff;
  margin: 20px;
  padding: 10px 35px;
  text-align: center;
}

.dummy{
  background: url(http://network.mugenguild.com/guild/stances/ss1_bonus.gif) no-repeat;
}

.sprite{
  margin-top: 35%;
  margin-left: 20%;
  margin-right:20%;
  margin-bottom: 35px;
  display:flex;
  justify-content: space-around;
}

